.btn1
{
    color:white;
    background-color: red;
height:50px;
width: 100px;
}

.btn2
{
    color:blue;
    border: solid 3px blue;
    background-color:yellow;
    height:40px;
    width:80px;

}

.btn3
{
    color:white;
    background-color:skyblue;
    height:33px;
    width:90px;
}


.btn4
{
color:purple;
background-color:white;
border: solid 3px purple;
height:35px;
width:95px;

}
.btn5
{
color:white;
background-color:orange;
height:40px;
width:100px;


}
 
{

<img src 







}


